{% extends "CabinetMedicalBundle::layout.html.twig"%}




{% block content %}

    <div class="wrapper">
        <article class="grid_8">
            <div class="wrapper">
                <figure class="img-indent"><img class="img-border" src="{{asset('bundles/cabinetmedical/client/images/reception.jpg')}}" alt="" /></figure>
                <div class="extra-wrap">

                    <h2>Presentation</h2>
                    <p> Le cabinet medical de Tunis  est un cabinet de référence du Territoire de Santé n° 1. Sa vocation est, dans le cadre du service public, d’assurer une mission diagnostique, de surveillance, de traitement et de prévention, d’évaluation des pratiques, pour tout patient, sans distinction sociale. Il met en oeuvre une politique continue d’amélioration de la qualité et de sécurité des soins et une gestion des risques.
                    </p>


                </div>
            </div>
        </article>

    </div>
{% endblock %} 